pydantic==2.7.1
pydantic_core==2.18.2

split-settings==1.0.0
python-dotenv==1.0.1
envparse==0.2.0

redis==5.0.4
dramatiq[watch, redis]==1.17.0

pillow

Django==4.2.6
django-ninja==1.1.0
django-cors-headers
django-dramatiq==0.11.6
dramatiq-crontab==1.17.0
django-resized==1.0.2

psycopg2-binary==2.9.9

web3==6.19.0
